body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}

.section {
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    border-radius: 5px;
    background-color: #cac3c9;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    background-color: #343334;
}

.navbar-header {
    font-family: monospace;
    font-size: xx-large;
}

.navbar-item a {
    font-family: monospace;
    font-size: xx-large;
    color: white;
}

.about-header {
    font-family: monospace;
    font-size: x-large;
}

.projects {
    font-family: monospace;
    font-size: x-large;
}

.main-project {
    width: 100%;
    border-radius: 5px;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.main-project:hover {
    width: 100%;
    border-radius: 5px;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.main-project-link {
    position: relative;
    display: block;
}

.main-project-title {
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    left: 50px;
    top: 300px;
    font-size: xx-large;
}

.secondary-projects {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondary-project {
    width: 99%;
    border-radius: 5px;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.secondary-project:hover {
    width: 99%;
    border-radius: 5px;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.secondary-project-link {
    position: relative;
    display: block;
}

.secondary-project-title {
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    left: 50px;
    top: 300px;
    font-size: xx-large;
}

.secondary-project-title-two {
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    left: 50px;
    top: 300px;
    font-size: xx-large;
}

.contact-type-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: monospace;
    font-size: xx-large;
}